<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Online Desktop</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    

</head>
<body onload="startTime()">
    <div class="container">
        <div class="top">
            <div id="date">Date</div>
            <h1>My Personal Desktop</h1>
            <div id="clock"></div>
        </div>
        
        <div class="main">
           
            <div class="widget">
                <h3>Widget 01</h3>
                
                <div class="text-center">
                    <textarea id="note-area" name="message" rows="20" cols="10"></textarea>
                <div>
                <button id="saveNotebtn"> 
                    <p> Save </p>
                </button>
            </div>
            </div>


            </div>
            <div class="widget">
                <h3>Widget 02</h3>
                <iframe width="95%" height="300" src="https://www.youtube.com/embed/ofnCdC8P70g" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="widget">
                <h3>Widget 03</h3>

                <br>

                <table class="center">
                   
                    <tr>
                        <td> Monday </td>
                        <td>
                            <textarea id="mon" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td> Tuesday </td>
                        <td>
                            <textarea id="tues" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td> Wednesday </td>
                        <td>
                            <textarea id="wed" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td> Thursday </td>
                        <td>
                            <textarea id="thurs" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td> Friday </td>
                        <td>
                            <textarea id="fri" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td> Saturday </td>
                        <td>
                            <textarea id="sat" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>


                    <tr>
                        <td> Sunday </td>
                        <td>
                            <textarea id="sun" class="weekday" cols="40" rows="2"></textarea>
                        </td>
                    </tr>

                    

                </table>


            </div>
        </br>


        </div>
    </div>
</body>

<script>

    /* --- FUNCTIONS --- */



    /* --- MAIN CODE --- */

    try {
        var loadNotes = localStorage.getItem("notes");
    }
    catch(err) {
            var loadNotes = "Enter your notes here and click 'Save'";
    }

    $("#note-area").val(loadNotes);

    sp="/"
    today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //As January is 0.
    var yyyy = today.getFullYear();

    if(dd<10) dd='0'+dd;
    if(mm<10) mm='0'+mm;

    $("#date").html(mm+sp+dd+sp+yyyy);

    $("#saveNoteBtn").click(function(){
        var currentNotes = $("#note-area").val();
        localStorage.setItem("notes", currentNotes);    
    });

</script>
</html>

<!--   console.log("notes: ", currentNotes);  -->